header{
    /* background: rgba(13, 61, 230, 0.1); */
    /* background: rgba(219, 248, 222, 0.12); */
}
/*----------------------- IMAGE -----------------------*/
.main-first--container{
    margin-top: 70px;
    padding-bottom: 0px;
    text-align: center;
}
.main-container--img{
    width: 345px;
    height: 200px;
    border-radius: 5px;
}
/*----------------------- TEXT -----------------------*/
.main-text{
    width: 80%;
    min-width: 320px;
    margin: 36px auto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: justify;
}
.main-containter--arrow-init{
    background-image: url('../assets/icons/Arrow_Green.svg');
    transform: rotate(-90deg);
}
.main-containter--arrow-init:hover{
    background-image: url('../assets/icons/Arrow_Green--Full.svg');
}