/*-----------------------FIRST CONTAINER AND TITTLES -----------------------*/
.main-container--title{
    background-color: var(--Aezam-Service2);
    border:  1px solid var(--Aezam-Service2);
}
.arrow{
    top: calc(0% + 220px);
    left: calc(100% - 40px);
    background-image: url('../assets/icons/DownArrowLightBlue.svg');
}
.arrow:hover{
    background-image: url('../assets/icons/FullLightBlueDownArrow.svg');
}
.main-container--button{
    background-color: var(--Aezam-Service2);
    border:  1px solid var(--Aezam-Service2);
}
.main-containter--arrow-init{
    background-image: url('../assets/icons/UpArrowLightBlue.svg');
}
.main-containter--arrow-init:hover{
    background-image: url('../assets/icons/FullLightBlueDownArrow.svg');
    transform: rotate(180deg);
}