/*----------------------- HEADER -----------------------*/
.header-img--list{
    display: none;
}
.header-nav--container{
    display: block !important;
    left: calc(100% - 900px);
    width: 900px;
    height: 80px;
    background: var(--Aezam-lightGreen);
}
.header-nav--next-arrow{
    display: none;
}
.header-nav-container--menu{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.header-nav-container-menu--list1a{
    cursor: pointer;;
}
.header-nav-container-menu--list1b:hover{
    width: 170px;
    background: var(--Aezam-lightGreen);
    color: #ffff;
}
.header-nav-container-menu--list-desktop{
    display: flex;
    justify-content: center;
    width: 180px;
    margin: auto;
    padding-left: 0px;
    font-weight: 900;
    font-size: 2rem;
    line-height: 22px;
    text-decoration: none;
    color: var(--Aezam-green);
    border-radius: 5px;
    pointer-events: all;
}
.header-nav-container-menu--list-desktop:hover{
    width: 180px;
    color: #ffff;
}
.header-nav-container--submenu{
    height: 94px;
    margin-top: 25px;
    background: var(--Aezam-lightGreen);
    border-radius: 5px;
}
.header-nav-container-submenu--list{
    display: flex;
    justify-content: center;
    margin: 10px auto 26px auto;
    padding-left: 0px;
    color: var(--Aezam-green);
}
.header-nav-container-submenu--list:hover{
    width: 130px;
    background:var(--Aezam-green);
    color:  #fff;
}
.header-nav--down-arrow{
    display: none !important;
}
.header-nav--up-arrow{
    display: none;
}
.header--line{
    display: none;
}
.header--addres{
    display: none;
}
.header--city{
    display: none;
}

/*----------------------- OTHERS -----------------------*/
.main-service-container--card{
    min-width: 400px;
    margin: 25px 30px;
}
.main-container--line{
    left: calc(50% - 30%);
    width: 60%;
}
.arrow{  
    left: calc(100% - 250px);
}.main-works-container--card {
    display: flex;
    width: 300px;
}
.main-works-container--card:nth-child(1) {
    margin-left: calc(50% - 380px);
} 
.main-works-container--card:nth-child(2) {
    margin-left: calc(50% + 80px);
    margin-top: -75px;
}
.main-works-container--card:nth-child(3) {
    margin-left: calc(50% - 380px);
}
.main-works-container--card:nth-child(4) {
    margin-left: calc(50% + 80px);
    margin-top: -75px;
}
.block-card--title{
    font-size: 2rem;
}
.block-card--body{
    font-size: 1.6rem;
}
.block-card--title-works{
    font-size: 1.6rem;
}
/*----------------------- ABOUT AND CHOOSE -----------------------*/
.main-secondary--text{
    margin: auto 20px auto 120px;
}
.main-secondary--text p{
    font-size: 1.6rem;
}
/*----------------------- FOOTER -----------------------*/
/* .footer--container{
    height: 175px;
} */
.footer-container--info a {
    margin: 25px 80px 25px 20px;
}
.footer-container--otros{
    width: 70%;
}
/* .footer-container--info{
    display: flex;
} */
/* .instagram{
    left: calc(100% - 200px);
} */
/* .facebook{
    left: calc(100% - 100px);
} */