.main-service-container{
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main-first--container{
    padding-bottom: 50px;
}
.main-containter--arrow-init{
    top: calc(100% - 25px);
}
.main-service-container--card{
    min-height: 318px;
}
