/*----------------------- HEADER -----------------------*/
header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 320px;
    height: 40px;
    background: var(--Aezam-lightGreen);
    z-index: 2;
}
.header--title{
    position: absolute;
    width: 224px;
    height: 23px;
    top: calc(0% + 9px);
    left: calc(0% + 8px);
    font-style: normal;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 22px;
    color: var(--Aezam-green);
}
.header-img--back-arrow{
    position: absolute;
    width: 32px;
    height: 32px;
    top: calc(100% - 36px);
    left: calc(100% - 46px);
    transform: rotate(-180deg);
    background: none;
    border: none;
    background-image: url('../assets/icons/CircleArrow.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
}
/*-----------------------SCROLL IMAGES -----------------------*/
.main-img--container{
    margin-top: 40px;
}
/*-----------------------FIRST CONTAINER AND TITTLES -----------------------*/
.main-container--title{
    background-color: var(--Aezam-Service1);
    border:  1px solid var(--Aezam-Service1);
}
.main-first--container{
    padding-bottom: 50px;
}
.main-service-container--card{
    padding: 27px;
    text-align: center;
}
.main-service-container--img{
    width: 277px;
    height: 171px;
}
.arrow{
    top: calc(0% + 220px);
    left: calc(100% - 40px);
    background-image: url('../assets/icons/DownArrowBlue.svg');
}
.arrow:hover{
    background-image: url('../assets/icons/FullBlueDownArrow.svg');
}
.block-card--title{
    text-align: left;
    margin: 25px 20px 25px 0px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
}
.block-card--body{
    width: 100%;
    margin-left: 0px;
    margin-bottom: 40px;
    text-align: justify;
}
.main-container--button{
    position: absolute;
    top: calc(100% - 50px);
    left: calc(100% - 216px);
    width: 200px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    align-self: center;
    background-color: var(--Aezam-Service1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:  1px solid var(--Aezam-Service1);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;  
    line-height: 1.7rem; 
    color: white;
    cursor: pointer;
}
.main-containter--arrow-init{
    position: absolute;
    width: 32px;
    height: 32px;
    top: calc(100% - 46px);
    left: calc(50% - 16px);
    background: none;
    border: none;
    background-image: url('../assets/icons/UpArrowBlue.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.main-containter--arrow-init:hover{
    background-image: url('../assets/icons/FullBlueDownArrow.svg');
    transform: rotate(180deg);
}