.main-first--container{
    padding-bottom: 30px;
    /* padding-bottom: 50px; */
}
/*-----------------------ABOUT US -----------------------*/
.main-text--aboutUs{
    padding-bottom: 15px;
}
.main-text-aboutUs {
    width: 100%;
    text-align: justify;
    background: conic-gradient(from 161.98deg at 0% 0%, #B4D1B3 -13.85deg, #72A676 4.8deg, #BAD3BC 335.34deg, #B4D1B3 346.15deg, #72A676 364.8deg);
}
.main-text-aboutUs--description{
    width: 100%;
    padding: 26px 37px ;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
/*-----------------------MISSION -----------------------*/
.main-container--title{
    background-color: var(--Aezam-green);
    border:  1px solid var(--Aezam-green);
}
.main-secondary--img{
    height: 170px;
    margin: 0px 0px 0px 25px;
}
.main-secondary--text p{
    margin: 0px 30px 0px 15px;
}
/*-----------------------MISSION -----------------------*/

/*-----------------------TEAM -----------------------*/
.main-service-container--card{
    margin-bottom: 30px;
    padding: 25px 27px 15px 27px;
    background-image: url('../assets/icons/Profile_Background.svg');
}
.main-service-container--img{
    width: 130px;
    height: 170px;
}
.block-card--title{
    width: 245px;
    margin: 20px 0px 10px 0px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.2rem;
}
.block-card--title-2{
    text-align: left;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
}
