@import 'styleVariables.css';

/*----------------------- HEADER -----------------------*/
header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    min-width: 320px;
    height: 80px;
    background: var(--Aezam-lightGreen);
}
.header-img--logo{
    position: absolute;
    top: 15px;
    left: 20px;
    width: 150px;
    height: 50px;
}
.header-img--list{
    position: absolute;
    top: 20px;
    left: calc(100% - 60px);
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.header-nav--container{
    position: absolute;
    left: -375px;
    width: 250px;
    height: 667px;
    text-align: left;
    list-style: none;
    background: var(--Aezam-green);
}
.header-nav--next-arrow{
    position: absolute;
    top: 23px;
    left: 15px;
}
.header-nav-container--menu {
    margin-top: 79px;
    list-style: none;
}
.header-nav-container-menu--list {
    display: block;
    margin-bottom: 26px;
    margin-left: 15px;    
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #ffff;
}
.header-nav-container-menu--list:hover {
    background: #ffff;
    color: var(--Aezam-green);
}
.mostrar {
    left: 125px;
}
.ocultar {
    left: -375px;
}
.header-nav--down-arrow{
    position: absolute;
    top: 74px;
    left: 210px;
}
.header--line{
    position: absolute;
    top: 500px;
    width: 100px;
    border-top: 1px solid white;
}
.header--city{
    position: absolute;
    top: 505px;
    left: 20px;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #ffff;
}
.header--addres{
    position: absolute;
    top: 538px;
    left: 20px;
    width: 200px;
    height: 100px;
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 30px;
    color: #ffff;
}
/*-----------------------SCROLL IMAGES -----------------------*/
/* .main-img--container {
    margin-top: 10px;
    width: 100%;
    height: 220px; 
    min-width: 320px;
}
.main-img--container .block--scroll{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-img--container .block--scroll img {
    width: 100%;
    height: 210px;
    min-width: 280px;
    max-width: 300px;
    position: relative;
    scroll-snap-align: center;
    padding: 0 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    scroll-snap-align: center;
    border-radius: 10px;
} */


