/*----------------------- HEADER -----------------------*/
header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 320px;
    height: 40px;
    background: var(--Aezam-lightGreen);
    z-index: 2;
}
.header--title{
    position: absolute;
    width: 224px;
    height: 23px;
    top: 9px;
    left: 8px;
    font-style: normal;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 22px;
    color: var(--Aezam-green);
}
.header-img--back-arrow{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 4px;
    left: 330px;
    transform: rotate(-180deg);
}
/*-----------------------SCROLL IMAGES -----------------------*/
.main-img--container{
    margin-top: 40px;
}
/*-----------------------FIRST CONTAINER AND TITTLES -----------------------*/
.main-first--container{
    margin-top: 0px;
    padding-bottom: 0px;
    height: 30px;
}
.main-container--line{
    top: 15px;
}
.main-container--title{
    top: 0px;
    background-color: var(--Aezam-Service1);
}
.main-container--service{
    position: relative;
    margin-bottom: 25px;
    width: 330px;
    height: 300px;
    top: 19px;
    left: 23px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.main-container-service-img{
    position: absolute;
    width: 277px;
    height: 171px;
    top: 25px;
    left: 27px;
    border-radius: 5px;

}
.main-container-service--title{
    position: absolute;
    min-width: 195px;
    max-width: 280px;
    height: 18px;
    top: 221px;
    left: 27px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color:black;

}
.main-container-service--down-arrow{
    position: absolute;
    left: calc(100% - 45px);
    top: 214px;
    width: 32px;
    height: 32px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
.main-container--service-extended{
    position: relative;
    margin-bottom: 25px;
    width: 330px;
    top: 19px;
    left: 23px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #000000;
}
.main-container-service--text{
    position: absolute;
    width: 280px;
    top: 274px;
    left: 24px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #000000;
}
.main-container-service--up-arrow{
    position: absolute;
    top: 214px;
    left: 295px;
}
.main-container--button{
    position: absolute;
    top: calc(100% - 50px);
    left: calc(100% - 116px);
    width: 200px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    align-self: center;
    padding: 7px;
    background-color: var(--Aezam-Service1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:  1px solid black;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;   
    font-style: normal;
    line-height: 17px;
    color: #ffffff;
}