/*
    1. Positioning
    2. Box Model
    3. Typography
    4. Visuals
    5. Others
*/
:root{
    /*Colors*/
    --Aezam-green: #116b1d; 
    --Aezam-backgorund: #F7F5FB;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Encode Sans', sans-serif;
    background-color: var(--Aezam-backgorund);
    /* max-width: 1024px; */
}
body {
    font-size: 1.6rem;
}

/*----------------------- HEADER -----------------------*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
    padding: 15px 0px;
}
/*header img .main-img--Logo*/
.main-img--Logo{
    width: 150px;
    height: 50px;
    /* align-items: center;
    justify-content: center;
    justify-items: center; */
}
.main-img--List{
    width: 50px;
    height: 50px;
}
.header--nav-container {
    width: 100%;
    min-width: 320px;
    max-width: 600px;
    max-height: 50px;
    list-style: none;
    background: var(--Aezam-green);
}
.header--nav-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 0px;
}
.header--nav-container li {
    display: inline-block;
}
.header--nav-container a {
    /* padding: 0 10px; */
    font-size: 0rem;
    /* flex-direction: column;
    text-decoration: none;
    color: white; */
}
/*-----------------------SCROLL IMAGES -----------------------*/
.main-img-container {
    width: 100%;
    height: 250px; 
    min-width: 320px;
}
.main-img-container .main-img-container--scroll {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-img-container .main-img-container--scroll img {
    width: 100%;
    height: 210px;
    min-width: 280px;
    max-width: 300px;
    position: relative;
    padding: 0 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    scroll-snap-align: center;
}
/*-----------------------SERVICE & SUPPORT -----------------------*/
.main-service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    height: 412px;
    margin: 16px auto;
    text-align: center;
    align-self: center;
    background-color: rgba(17, 107, 29, 0.28);
    border: 1px solid black;
}
.main-service-container--button {
    position: absolute;
    left: calc(50% - 109px);
    top: -16px;
    display: block;
    padding: auto auto;
    width: 217px;
    height: 32px;
    background-color: var(--Aezam-green);
    /* Sombras */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:  1px solid black;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}
.main-service-container--engineering{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    position: relative;
    width: 100%;
    min-width: 335px;
    max-width: 340px;
    height: 165px;
    margin: 30px 9.5px 11px;
    align-items: center;
    text-align: left;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.main-service-container--img-engineering{
    position: absolute;
    width: 57px;
    height: 57px;
    top: 5px;
    left: 9px;
    /* margin: auto; */
    background-image: url('../assets/icons/Engineering.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.main-service-container--text-principal {
    position: absolute;
    width: 111px;
    height: 23px;
    top: 22px;
    left: 75px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: black;
}
.main-service-container--text {
    position: absolute;
    width: 261px;
    height: 66px;
    top: 62.03px;
    left: 46.08px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: black;
}
.main-service-container--arrow-engineering {
    position: absolute;
    left: 67.48%;
    right: 1.4%;
    top: 80.61%;
    bottom: 3.64%;
    padding: 6px 8.5px 7px;
    width: 105px;
    height: 26px;
    background-color: var(--Aezam-green);
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 12.5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-decoration: none;
    text-align: left;
    color: #ffffff;
}
.main-service-container--arrow-engineering span {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6.03px;
    left: 75.91px;
    background-image: url('../assets/icons/ArrowRight.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.main-service-container--accounting{
    position: relative;
    width: 100%;
    min-width: 335px;
    max-width: 340px;
    height: 165px;
    margin: 11px 9.5px 30px;
    align-items: center;
    text-align: left;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.main-service-container--img-accounting{
    position: absolute;
    width: 57px;
    height: 57px;
    top: 5px;
    left: 9px;
    background-image: url('../assets/icons/Accounting.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.main-service-container--arrow-accounting span {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 132.03px;
    left: 296.08px;
    background-image: url('../assets/icons/CircleArrow.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*-----------------------ABOUT US -----------------------*/
.main-about-container {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 288px;
    max-width: 700px;
    height: 218px;
    margin: 30px auto;
    text-align: center;
    align-self: center;
    background-color: #ffffff;
    border:  1px solid black;
}
.main-about-container--button {
    position: absolute;
    left: calc(50% - 108.5px);
    top: -20px;
    display: block;
    padding: 3px;
    width: 217px;
    height: 32px;
    background-color: var(--Aezam-green);
    /* Sombras */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:  1px solid black;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}
.main-about-container--button span {
    display: inline-block;
    width: 15px;
    height: 20px;
    margin-left: 10px;
    background-image: url('../assets/icons/ArrowRight.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.main-about-container--img{
    width: 40%;
    min-width: 100px;
    max-width: 200px;
    height: 165px;
    margin: 25px 10px;
    background-image: url('../assets/imgs/MallaPuestaTierra-150x200.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.main-about-container--text{
    display: flex;
    width: 60%;
    min-width: 20px;
    height: 165px;
    margin: 25px 2px;
    align-items: center;
}
.main-about-container--text p{
    margin: 10px;
    line-height: 2rem;
    font-size: 1.4rem;
}
.main-about-container--arrow span {
    position: absolute;
    left: calc(100% - 40px);
    top: 180px;
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/CircleArrow.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*----------------------- HOW IT WORKS -----------------------*/
.main-works-container {
    position: relative;
    width: 100%;
    min-width: 288px;
    max-width: 700px;
    height: 370px;
    margin: 30px auto;
    padding-top: 50px;
    padding-left: 40px;
    text-align: center;
    background-color: #ffffff;
    border:  1px solid black;
}
.main-works-container--button {
    position: absolute;
    left: calc(50% - 108.5px);
    top: 15px;
    display: block;
    padding: 3px;
    width: 217px;
    height: 32px;
    background: rgba(108, 168, 175, 0.33);
    /* Sombras */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.main-works-container--button span {
    display: inline-block;
    width: 15px;
    height: 20px;
    margin-left: 10px;
    background-image: url('../assets/icons/ArrowRight2.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.main-works-container--img_text{
    position: relative;
    width: 250px;
    height: 50px;
    margin: 20px;
    padding: 7px;
    background-color: #F7F8F9;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.main-works-container--img_text .icons1{
    position: absolute;
    left: 13px;
    top: 13px;
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/works_1.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--img_text .icons2{
    position: absolute;
    left: 13px;
    top: 13px;
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/works_2.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--img_text .icons3{
    position: absolute;
    left: 13px;
    top: 13px;
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/works_3.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--img_text .icons4{
    position: absolute;
    left: 13px;
    top: 13px;
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/works_4.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--block1{
    width: 36px;
    height: 36px;
    background-color: #12264F;
    border-radius: 36px;
}
.main-works-container--block1 span{
    position: absolute;
    left: calc(100% + 2px);
    top: 20px;
    width: 20px;
    height: 90px;
    background-image: url('../assets/icons/Arrow_1.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--block2{
    width: 36px;
    height: 36px;
    background-color: #06436F;
    border-radius: 36px;
}
.main-works-container--block2 span{
    position: absolute;
    left: calc(10% - 50px);
    top: 20px;
    width: 20px;
    height: 90px;
    background-image: url('../assets/icons/Arrow_2.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--block3{
    width: 36px;
    height: 36px;
    background-color: var(--Aezam-green);
    border-radius: 36px;
}
.main-works-container--block3 span{
    position: absolute;
    left: calc(100% + 2px);
    top: 20px;
    width: 20px;
    height: 90px;
    background-image: url('../assets/icons/Arrow_3.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--block4{
    width: 36px;
    height: 36px;
    background-color: #6CA8AF;
    border-radius: 36px;
}
.main-works-container--img_text p{
    width: 200px;
    height: 20px;
    position: absolute;
    font-size: 1.4rem;
    top: 17px;
    left: 50px;
}
.main-works-container--arrow span {
    position: absolute;
    left: calc(100% - 40px);
    top: 330px;
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/CircleArrow.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*----------------------- HOW IT WORKS 2 -----------------------*/
.main-works-container2 {
    position: relative;
    width: 100%;
    min-width: 288px;
    max-width: 700px;
    height: 370px;
    margin: 30px auto;
    padding-top: 50px;
    padding-left: 40px;
    text-align: center;
    background: rgba(17, 107, 29, 0.28);
}
.main-works-container--button2 {
    position: absolute;
    left: calc(50% - 108.5px);
    top: 15px;
    display: block;
    padding: 3px;
    width: 217px;
    height: 35px;
    background: var(--Aezam-green);
    /* Sombras */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.main-works-container--img_text2{
    position: relative;
    width: 230px;
    height: 50px;
    margin: 20px;
    left: 20px;
    background-color: #F7F8F9;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.main-works-container--img_text2 p{
    width: 200px;
    height: 20px;
    position: absolute;
    font-size: 1.4rem;
    top: 17px;
    left: 15px;
}
.main-works-container--img_text2 .icons12{
    position: absolute;
    left:-40px;
    top: -4px;
    width: 50px;
    height: 70px;
    background-image: url('../assets/icons/Steps1.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--img_text2 .icons22{
    position: absolute;
    left:-40px;
    top: -13px;
    width: 50px;
    height: 80px;
    background-image: url('../assets/icons/Steps2.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--img_text2 .icons32{
    position: absolute;
    left:-40px;
    top: -13px;
    width: 50px;
    height: 80px;
    background-image: url('../assets/icons/Steps3.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--img_text2 .icons42{
    position: absolute;
    left:-40px;
    top: -13px;
    width: 50px;
    height: 70px;
    background-image: url('../assets/icons/Steps4.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--arrow2 span {
    position: absolute;
    left: calc(100% - 40px);
    top: 330px;
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/CircleArrow.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*-----------------------WHY CHOOSE US -----------------------*/
.main-choose-container {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 288px;
    max-width: 700px;
    height: 270px;
    margin: 30px auto;
    text-align: center;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.main-choose-container--button {
    position: absolute;
    left: calc(50% - 108.5px);
    top: 10px;
    display: block;
    padding: 3px;
    width: 217px;
    height: 32px;
    background: rgba(17, 107, 29, 0.28);
    /* Sombras */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.main-choose-container--img{
    width: 40%;
    min-width: 100px;
    max-width: 200px;
    height: 165px;
    margin: 55px 10px;
    background-image: url('../assets/imgs/Tablero-2448x3264.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.main-choose-container--text{
    display: flex;
    width: 60%;
    min-width: 20px;
    height: 165px;
    margin: 55px 2px;
    align-items: center;
}
.main-choose-container--text p{
    margin: 10px;
    line-height: 2rem;
    font-size: 1.4rem;
}
.main-choose-container--arrow {
    position: absolute;
    left: calc(100% - 125px);
    top: 230px;
    display: block;
    padding: 8px;
    width: 115px;
    height: 32px;
    background-color: var(--Aezam-green);
    /* Sombras */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}
.main-choose-container--arrow span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 8px;
    background-image: url('../assets/icons/CaretDoubleRight.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
/*----------------------- FOOTER -----------------------*/
.nav-footer {
    position: relative;
    width: 100%;
    min-width: 288px;
    max-width: 700px;
    height: 150px;
    background-color: #F7F5FB;
    border-top-width: 0.25rem;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-top-style: solid;
}
.nav-footer .fotter-logo{
    position: absolute;
    left: 225px;
    top: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-footer-more-info{
    font-size: 2rem;
    margin: 1rem;
    padding: 0.5rem;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 0.25rem;
    border-bottom-style: solid;
}
.nav-footer-options {
    font-size: 1.3rem;
    margin: 1rem;
    padding: 0.8rem;
    list-style: none;
    text-align: left;
}
.nav-footer-options a {
    display:block;
}

.nav-footer-additional-info{
    display: flex;
    position: relative;
    width: 100%;
    min-width: 288px;
    max-width: 700px;
    height: 40px;
    background-color: #116b1d;
    color: white;
    font-size: 1rem;
}
.nav-footer-tertiary-info{
    margin: 0.6rem;
    padding: 0.9rem;
}
.nav-footer-additional-info .facebook{
    position: absolute;
    left: 250px;
    top: 0.9rem;
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/Facebook.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-footer-additional-info .twitter{
    position: absolute;
    left: 275px;
    top: 0.9rem;
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/Twitter.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-footer-additional-info .instagram{
    position: absolute;
    left: 300px;
    top: 0.9rem;
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/Instagram.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-footer-additional-info .linkedin{
    position: absolute;
    left: 325px;
    top: 0.9rem;
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/Linkedin.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}