/*
    1. Positioning
    2. Box Model
    3. Typography
    4. Visuals
    5. Others
*/
:root{
    /*Colors*/
    --Aezam-green: #116b1d; 
    --Aezam-backgorund: #F7F5FB;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Encode Sans', sans-serif;
    background-color: var(--Aezam-backgorund);
}
body {
    font-size: 1.6rem;
}

/*----------------------- HEADER -----------------------*/
header nav {
    font-size: 1.6rem;
    background-color: rgba(17, 107, 29, 0.28);
}
header nav div a img {
    width: 200px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}
header .navbar-toggler {
    width: 50px;
    height: 50px;
}
header div .collapse {
    text-align: right;
    color: var(--Aezam-green);
}
header div ul .navbar-nav {
    font-size: 2rem;
    height: 2rem;
}
header ul li .nav-link{
    text-align: right;

}
.main-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100%; */
    min-width: 320px;
    height: 250px; 
}
.main-img-container .main-img-container--scroll {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-img-container .main-img-container--scroll img {
    width: 100%;
    height: 220px;
    min-width: 150px;
    max-width: 300px;
    padding: 0 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*-----------------------SERVICE & SUPPORT -----------------------*/
.main-service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    height: 500px;
    margin: 16px auto;
    text-align: center;
    align-self: center;
    background-color: rgba(17, 107, 29, 0.28);
    border: 1px solid black;
}
.main-service-container--button {
    position: absolute;
    left: calc(50% - 109px);
    top: -16px;
    display: block;
    padding: auto auto;
    width: 217px;
    height: 32px;
    background-color: var(--Aezam-green);
    /* Sombras */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:  1px solid black;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}
.main-service-container--engineering{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    min-width: 20px;
    height: 150px;
    margin: 30px;
    align-items: center;
    text-align: right;
    border:  1px solid black;
    background-color: white;
}
.main-service-container--accounting{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    min-width: 20px;
    height: 150px;
    margin: 30px;
    align-items: center;
    text-align: left;
    border:  1px solid black;
    background-color: white;
}
.main-service-container--img{
    min-width: 50px;
    max-width: 100px;
    height: 50px;
    max-height: 200px;
    margin: auto;
    background-image: url('../assets/imgs/pexels-charlotte-may-5947121.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.main-service-container--text-principal {
    margin: 30px 0px;
    text-align: left;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: bold;
}
.main-service-container--text {
    margin: auto;
    line-height: 2rem;
    font-size: 1.6rem;
}
.main-service-container--arrow-engineering {
    position: absolute;
    left: calc(100% - 200px);
    top: 210px;
    display: block;
    padding: 4.5px;
    width: 110px;
    height: 32px;
    background-color: var(--Aezam-green);
    /* Sombras */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}
.main-service-container--arrow-engineering span {
    display: inline-block;
    width: 15px;
    height: 17px;
    margin-left: 8px;
    background-image: url('../assets/icons/ArrowRight.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.main-service-container--arrow-accounting span {
    position: absolute;
    left: calc(100% - 150px);
    top: 455px;
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/CircleArrow.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*-----------------------ABOUT US -----------------------*/
.main-about-container {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 288px;
    max-width: 700px;
    height: 218px;
    margin: 30px auto;
    text-align: center;
    align-self: center;
    background-color: #ffffff;
    border:  1px solid black;
}
.main-about-container--button {
    position: absolute;
    left: calc(50% - 118px);
    top: -20px;
    display: block;
    padding: 3px;
    width: 217px;
    height: 32px;
    background-color: var(--Aezam-green);
    /* Sombras */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:  1px solid black;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}
.main-about-container--button span {
    display: inline-block;
    width: 15px;
    height: 20px;
    margin-left: 10px;
    background-image: url('../assets/icons/ArrowRight.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.main-about-container--img{
    width: 40%;
    min-width: 100px;
    max-width: 200px;
    height: 165px;
    margin: 25px 10px;
    background-image: url('../assets/imgs/pexels-daria-shevtsova-1845287.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.main-about-container--text{
    display: flex;
    width: 60%;
    min-width: 20px;
    height: 165px;
    margin: 25px 2px;
    align-items: center;
}
.main-about-container--text p{
    margin: 10px;
    line-height: 2rem;
    font-size: 1.6rem;
}
.main-about-container--arrow span {
    position: absolute;
    left: calc(100% - 40px);
    top: 180px;
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/CircleArrow.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*----------------------- HOW IT WORKS -----------------------*/
.main-works-container {
    position: relative;
    width: 100%;
    min-width: 288px;
    max-width: 700px;
    height: 260px;
    margin: 30px auto;
    text-align: center;
    background-color: #ffffff;
    border:  1px solid black;
}
.main-works-container--button {
    position: absolute;
    left: calc(50% - 85px);
    top: 10px;
    display: block;
    padding: 3px;
    width: 170px;
    height: 32px;
    background: rgba(108, 168, 175, 0.33);
    /* Sombras */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.main-works-container--button span {
    display: inline-block;
    width: 15px;
    height: 20px;
    margin-left: 10px;
    background-image: url('../assets/icons/ArrowRight2.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.main-works-container--img{
    display: flex;
    width: 100%;
    height: 120px;
    margin-top: 50px;
}
.main-works-container--img1{
    width: 20%;
    height: 100px;
    margin: 10px;
    background-image: url('../assets/imgs/pexels-daria-shevtsova-1845287.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--img2{
    width: 20%;
    height: 100px;
    margin: 10px;
    background-image: url('../assets/imgs/pexels-nadezhda-moryak-5595490.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--img3{
    width: 20%;
    height: 100px;
    margin: 10px;
    background-image: url('../assets/imgs/pexels-daria-shevtsova-1845287.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--img4{
    width: 20%;
    height: 100px;
    margin: 10px;
    background-image: url('../assets/imgs/pexels-nadezhda-moryak-5595490.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-works-container--text{
    display: flex;
    width: 90%;
    height: 60px;
    align-items: center;
}
.main-works-container--textblock{
    width: 100%;
    min-width: 60px;
    margin: 10px;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
}
.main-works-container--arrow span {
    position: absolute;
    left: calc(100% - 40px);
    top: 220px;
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/CircleArrow.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*-----------------------WHY CHOOSE US -----------------------*/
.main-choose-container {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 288px;
    max-width: 700px;
    height: 270px;
    margin: 30px auto;
    text-align: center;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.main-choose-container--button {
    position: absolute;
    left: calc(50% - 85px);
    top: 10px;
    display: block;
    padding: 3px;
    width: 170px;
    height: 32px;
    background: rgba(17, 107, 29, 0.28);
    /* Sombras */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.main-choose-container--img{
    width: 40%;
    min-width: 100px;
    max-width: 200px;
    height: 165px;
    margin: 55px 10px;
    background-image: url('../assets/imgs/pexels-daria-shevtsova-1845287.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.main-choose-container--text{
    display: flex;
    width: 60%;
    min-width: 20px;
    height: 165px;
    margin: 55px 2px;
    align-items: center;
}
.main-choose-container--text p{
    margin: 10px;
    line-height: 2rem;
    font-size: 1.6rem;
}
.main-choose-container--arrow {
    position: absolute;
    left: calc(100% - 125px);
    top: 230px;
    display: block;
    padding: 6px;
    width: 115px;
    height: 32px;
    background-color: var(--Aezam-green);
    /* Sombras */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}
.main-choose-container--arrow span {
    display: inline-block;
    width: 15px;
    height: 17px;
    margin-left: 8px;
    background-image: url('../assets/icons/ArrowRight.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
/*----------------------- FOOTER -----------------------*/
 
