/*
    1. Positioning
    2. Box Model
    3. Typography
    4. Visuals
    5. Others
*/

:root{
    /*Colors*/
    --Aezam-grend: #116b1d;  
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
}
body {
    font-size: 1.6rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
}
header img {
    width: 200px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header--nav-container {
    width: 100%;
    min-width: 320px;
    max-width: 500px;
    max-height: 50px;
    list-style: none;
    background: var(--Aezam-grend);
}
.header--nav-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.header--nav-container li {
    display: inline-block;
}
.header--nav-container a {
    padding: 0 10px;
    font-size: 1.6rem;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

.main-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 250px; 
}
.main-img-container .main-img-container--scroll {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-img-container .main-img-container--scroll img {
    width: 100%;
    height: 220px;
    min-width: 150px;
    max-width: 300px;
    padding: 0 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-img-container h2 {
    align-items: center;
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 2rem;
    height: 2rem;
}
    
/* .header { */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
/* } */
/* .headerLogo{ */
    /* flex-grow: 1; */
/* } */
/* .headerLogo img{ */
    /* width: 30rem; */
    /* height: 10rem; */
/* } */
/* .nav{ */
    /* background: #116b1d; */
    /* padding: 2rem; */
    /* list-style: none; */
    /* text-align: center; */
    /* width: 70vw; */
    /* height: 10rem; */
/* } */
/* .nav .navList{ */
    /* padding-top: 2rem; */
/* } */
/* .nav .navList li{ */
    /* display: inline-block; */
    /* margin: auto; */
/* } */
/* .nav a{ */
    /* font-size: 2rem; */
    /* margin: 1rem 0; */
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
    /* text-decoration: none; */
    /* color: white; */
/* } */
/*  */
/*  */
/* h1{ */
    /* color: purple; */
    /* font-family: serif; */
    /* margin-bottom: 1rem; */
/* } */
/* .title { */
    /* font-size: 3rem; */
/* } */
/*  */
/*  */