/*
    1. Positioning
    2. Box Model
    3. Typography
    4. Visuals
    5. Others
*/
:root{
    /*Colors*/
    --Aezam-green: #2A6E3F; 
    --Aezam-green--text: #075611;
    --Aezam-backgorund: #F7F5FB;
    --Aezam-lightGreen: #B7CEBD;
    --Aezam-Service1: #112A53;
    --Aezam-Service2: #6CA8AF;
    --Aezam-Service3: #F49608;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Encode Sans', sans-serif;
    background-color: var(--Aezam-backgorund)
}
body {
    font-size: 1.6rem;
}


